# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
.venv
/build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Under development or non-functional
/yolov8

# Executables
*.exe
*.out
*.app
yolov4_detector

#Outputs and Videos Paths
/output
/CAMERA
/settings

#VS code config
.vscode

